body {
  font-family: serif;
}
.jumbotron {
  background-color: black;
  color: #aaaaaa;
  text-align: center;
  margin-top: 3%;
}

p.warning {
  display: none;
  color: red;
  font-size: 12;
  font-style: italic;
  font-family: serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h1 {
  font-size: 72;
  font-family: serif;
  text-align: center;

}
#inputNumber {
  display: none;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#game {
  text-align: center;

}

#output {
  text-align: center;
  font-size: 30px;
}
